section.features
  margin-top: 74px
  font-family: Nunito, sans-serif
  .features-list
    display: grid
    grid-template-columns: repeat(3, 1fr)
    grid-gap: 22px
    margin: 0
    padding: 0
    .feature
      display: flex
      flex-direction: column
      list-style-type: none
      a
        text-decoration: none
        color: #000000
        font-family: inherit
        &:hover
          .feature-text
            background-color: #ffc839
            box-shadow: 0px 4px 35px rgba(196, 143, 7, 0.49)
            .circle
              background-color: #ffffff
              box-shadow: 1px 4px 4px 0px #E0A712
      &-image
        max-height: 410px
        img
          width: 100%
          max-height: 410px
      &-text
        display: flex
        align-items: center
        padding: 30px 0
        font-size: 14px
        line-height: 19px
        font-weight: 700
        width: 100%
        box-shadow: 0px 4px 59px -14px rgba(171, 124, 0, 0.29)
        .circle
          background-color: #FFC839
          display: flex
          justify-content: center
          align-items: center
          border-radius: 50%
          font-size: 28px
          box-shadow: 1px 4px 4px #E1DFD9
          width: 38px
          height: 38px
          margin-left: 30px
        p
          margin-left: 20px

@media (max-width: 1270px)
  section.features
    padding: 0 30px
    .features-list
      justify-content: space-between
      align-items: flex-start
      .feature
        &-image
          img
            width: 80%
            height: 300px
        &-text
          width: 80%
          height: 70px
