section.form
  background-color: #FFF5DA
  margin-top: 100px
  form
    padding: 127px 166px 104px 166px
    h3
      font-size: 36px
      font-style: normal
      font-weight: 600
      line-height: 49px
      margin: 0
      margin-bottom: 10px
    p
      font-size: 29px
      font-weight: 400
      line-height: 40px
      margin: 0
      margin-bottom: 20px
    input[type=tel]
      padding: 17px 209px 17px 140px
      font-size: 29px
      line-height: 40px
    input[type=submit]
      background-color: #FFC839
      padding: 11px 42px
      border: none
      position: relative
      right: 165px
      font-size: 29px
      line-height: 40px
